<h1>Do you choose rock, paper, or scissors?</h1>
<form action='/output'>
  <div class="form-group">
    <label for="user1Input"></label>
    <input id="user1Input" name="user1Input" class="form-control" type="text">
  </div>
  <button id="user1Input" type="submit" class="btn">Go!</button>
</form>
